In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()

#Trash + Tourist data
df_trash_tourists = pd.read_csv('../data/trash-amounts-tourist.csv')
df_trash_tourists.drop(columns=["Avg_Daily_Arrivals","Avg_Daily_Stays", "Tour_Arrivals"], inplace=True)
df = pd.concat([df, df_trash_tourists], axis=1)

# Set date as index
df = df.set_index('Date')
df.head()

          Month  CW  Year Yard  Shift  Tour Tonnage Type  Tour_Stays
Date
02.01.19      1   1  2019  VMF      1     1    5,59  BIO   2159841.0
02.01.19      1   1  2019  VMF      1     4    3,23  BIO   2159841.0
02.01.19      1   1  2019  VMF      1     5    5,68  BIO   2159841.0
02.01.19      1   1  2019  VMF      1     6    5,48  BIO   2159841.0
02.01.19      1   1  2019  VMF      1     7    7,84  BIO   2159841.0

In [4]:
# weather
df_weather = pd.read_csv('../data/weather.csv')
df_weather.drop(columns=["snow(mm)"], inplace=True)
df_weather = df_weather.set_index('Date')

df = df.join(df_weather)

df.head()

,Month,CW,Year,Yard,Shift,Tour,Tonnage,Type,Tour_Stays,avg_temperature,avg_temperature_1d_before,avg_temperature_2d_before,avg_temperature_3d_before,precipitation,precipitation_1d_before,precipitation_2d_before,precipitation_3d_before
Date,,,,,,,,,,,,,,,,,
02.01.19,1,1,2019,VMF,1,1,"5,59",BIO,2159841.0,1.8,6.4,5.5,6.2,0.1,2.2,0.4,0.1
02.01.19,1,1,2019,VMF,1,4,"3,23",BIO,2159841.0,1.8,6.4,5.5,6.2,0.1,2.2,0.4,0.1
02.01.19,1,1,2019,VMF,1,5,"5,68",BIO,2159841.0,1.8,6.4,5.5,6.2,0.1,2.2,0.4,0.1
02.01.19,1,1,2019,VMF,1,6,"5,48",BIO,2159841.0,1.8,6.4,5.5,6.2,0.1,2.2,0.4,0.1
02.01.19,1,1,2019,VMF,1,7,"7,84",BIO,2159841.0,1.8,6.4,5.5,6.2,0.1,2.2,0.4,0.1

In [5]:
df.columns

Index(['Month', 'CW', 'Year', 'Yard', 'Shift', 'Tour', 'Tonnage', 'Type',
       'Tour_Stays', 'avg_temperature', 'avg_temperature_1d_before',
       'avg_temperature_2d_before', 'avg_temperature_3d_before',
       'precipitation', 'precipitation_1d_before', 'precipitation_2d_before',
       'precipitation_3d_before'],
      dtype='object')

In [6]:
# yards
yards = df["Yard"].unique()
for yard in yards:
    df[yard] = np.where(df["Yard"] == yard, True, False)

In [7]:
#trash type
types = df["Type"].unique()
for t in types:
    df[t] = np.where(df["Type"] == t, True, False)

In [8]:
# tour numbers
tour_numbers = df["Tour"].unique()
for tn in tour_numbers:
    df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)

/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)
/var/folders/yz/c6jgyjbs1575zd0rjq04jbtr0000gn/T/ipykernel_9091/4133350927.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["Tour_"+str(tn)] = np.where(df["Tour"] == tn, True, False)

In [9]:
#holiday and weekdays
df_holiday_weekday = pd.read_csv('../data/holidays-and-weekdays.csv')
df_holiday_weekday.rename(columns={'Datum': 'Date'}, inplace=True)
df_holiday_weekday['Date'] = pd.to_datetime(df_holiday_weekday['Date'])
df_holiday_weekday['Date'] = df_holiday_weekday['Date'].dt.strftime('%d.%m.%y')
df_holiday_weekday.set_index('Date', inplace=True)
df = df.join(df_holiday_weekday)
# df = pd.merge(df, df_holiday_weekday, left_on=['Date'], how='left')
# df = pd.concat([df, df_holiday_weekday], ignore_index=True)
df_holiday_weekday.head(20)

,Bundesland,is_holiday,Winterferien,Osterferien,Pfingstferien,Sommerferien,Herbstferien,Weihnachtsferien,weekday_Friday,weekday_Monday,...,weekday_Thursday_lag_3,weekday_Friday_lag_1,weekday_Friday_lag_2,weekday_Friday_lag_3,weekday_Saturday_lag_1,weekday_Saturday_lag_2,weekday_Saturday_lag_3,weekday_Sunday_lag_1,weekday_Sunday_lag_2,weekday_Sunday_lag_3
Date,,,,,,,,,,,,,,,,,,,,,
01.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04.01.19,Berlin,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
05.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
06.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
07.01.19,Berlin,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,1,0,0
08.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
09.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.01.19,Berlin,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
13.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
14.01.19,Berlin,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,1,0,0
15.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
16.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18.01.19,Berlin,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
19.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20.01.19,Berlin,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0

In [10]:
df.head(200)

,Month,CW,Year,Yard,Shift,Tour,Tonnage,Type,Tour_Stays,avg_temperature,...,weekday_Thursday_lag_3,weekday_Friday_lag_1,weekday_Friday_lag_2,weekday_Friday_lag_3,weekday_Saturday_lag_1,weekday_Saturday_lag_2,weekday_Saturday_lag_3,weekday_Sunday_lag_1,weekday_Sunday_lag_2,weekday_Sunday_lag_3
Date,,,,,,,,,,,,,,,,,,,,,
02.01.19,1,1,2019,VMF,1,1,"5,59",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,4,"3,23",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,5,"5,68",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,6,"5,48",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,7,"7,84",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02.01.19,1,1,2019,VMN,1,14,"18,06",HM,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMN,1,15,"16,08",HM,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMN,1,16,"21,90",HM,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMN,1,17,"15,48",HM,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMN,1,18,"16,61",HM,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# df_retail_sales = pd.read_csv('../data/retail-sales-processed.csv')
# df = pd.merge(df, df_retail_sales, left_on=["Year","Month"], right_on=["year","month"], how="left")

In [12]:
print(df.columns)
lst_df_columns = df.columns.tolist()
df.head()

Index(['Month', 'CW', 'Year', 'Yard', 'Shift', 'Tour', 'Tonnage', 'Type',
       'Tour_Stays', 'avg_temperature',
       ...
       'weekday_Thursday_lag_3', 'weekday_Friday_lag_1',
       'weekday_Friday_lag_2', 'weekday_Friday_lag_3',
       'weekday_Saturday_lag_1', 'weekday_Saturday_lag_2',
       'weekday_Saturday_lag_3', 'weekday_Sunday_lag_1',
       'weekday_Sunday_lag_2', 'weekday_Sunday_lag_3'],
      dtype='object', length=215)

,Month,CW,Year,Yard,Shift,Tour,Tonnage,Type,Tour_Stays,avg_temperature,...,weekday_Thursday_lag_3,weekday_Friday_lag_1,weekday_Friday_lag_2,weekday_Friday_lag_3,weekday_Saturday_lag_1,weekday_Saturday_lag_2,weekday_Saturday_lag_3,weekday_Sunday_lag_1,weekday_Sunday_lag_2,weekday_Sunday_lag_3
Date,,,,,,,,,,,,,,,,,,,,,
02.01.19,1,1,2019,VMF,1,1,"5,59",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,4,"3,23",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,5,"5,68",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,6,"5,48",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0
02.01.19,1,1,2019,VMF,1,7,"7,84",BIO,2159841.0,1.8,...,0,0,0,0,0,0,0,0,0,0

In [13]:
nan_rows = df[df.isna().any(axis=1)]
print(nan_rows)

Empty DataFrame
Columns: [Month, CW, Year, Yard, Shift, Tour, Tonnage, Type, Tour_Stays, avg_temperature, avg_temperature_1d_before, avg_temperature_2d_before, avg_temperature_3d_before, precipitation, precipitation_1d_before, precipitation_2d_before, precipitation_3d_before, VMF, VMG, VMM, VMN, VMWSF, VMWSN, VMWSM, BIO, HM, SPM Sammlung, Tour_1, Tour_4, Tour_5, Tour_6, Tour_7, Tour_9, Tour_10, Tour_12, Tour_2, Tour_3, Tour_8, Tour_11, Tour_13, Tour_14, Tour_15, Tour_16, Tour_17, Tour_18, Tour_19, Tour_20, Tour_21, Tour_22, Tour_23, Tour_24, Tour_25, Tour_26, Tour_27, Tour_28, Tour_29, Tour_30, Tour_31, Tour_32, Tour_33, Tour_34, Tour_35, Tour_36, Tour_37, Tour_38, Tour_39, Tour_40, Tour_41, Tour_42, Tour_43, Tour_44, Tour_45, Tour_46, Tour_47, Tour_48, Tour_49, Tour_50, Tour_51, Tour_52, Tour_53, Tour_77, Tour_54, Tour_55, Tour_1101, Tour_1102, Tour_1103, Tour_1104, Tour_1105, Tour_1106, Tour_1107, Tour_1108, Tour_1110, Tour_1201, Tour_1202, Tour_1203, Tour_3101, Tour_3102, Tour_3103, Tour_3104, Tour_3201, ...]
Index: []

[0 rows x 215 columns]

In [14]:
df.to_csv('../data/processed_data.csv', index=False)